@use '/assets/styles/global/' as *;

.present {
  padding: 64px 0;
  color: #fff;
  @include mq-up(lg) {
    padding-bottom: 115px;
  }
  &__content {
    @include mq-up(lg) {
      justify-content: space-between;
      align-items: center;
      display: flex;
    }
  }
  &__campaign {
    @include mq-up(lg) {
      padding-bottom: 0;
    }
  }
  &__heading {
    font-size: 20px;
    text-align: center;
    opacity: 50%;
    @include mq-up(lg) {
      text-align: left;
    }
  }
  &__sub-heading {
    margin-top: 16px;
    text-align: center;
    @include mq-up(lg) {
      margin-top: 12px;
      text-align: left;
    }
    &__eng {
      font-size: 40px;
      @include mq-up(lg) {
        font-size: 64px;
      }
    }
    &__ja {
      font-size: 12px;
      @include mq-up(lg) {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
  &__description {
    margin-top: 48px;
    font-size: 20px;
    text-align: center;
    @include mq-up(lg) {
      flex: 356px 0 0;
      font-size: 24px;
      text-align: left;
    }
  }
  &__detail {
    margin-top: 32px;
    font-size: 14px;
    @include mq-up(lg) {
      font-size: 16px;
    }
    &--emphasize {
      font-size: 20px;
      @include mq-up(lg) {
        font-size: 24px;
      }
    }
  }
  &__product-detail {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 312px; //TODO: wine.js次第でheightの持ち方は変える
    @include mq-up(lg) {
      min-height: auto;
    }
  }
  &__button-area {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 312px; //TODO: wine.js次第でheightの持ち方は変える
    @include mq-up(lg) {
      min-height: auto;
    }
  }
  .button {
    @include mq-up(lg) {
      max-width: 270px;
      margin-top: 120px;
    }
  }
}
