@use '/assets/styles/global/' as *;

.special-contents {
  padding: 80px 0 160px;
  @include mq-up(md) {
    padding-top: 120px;
  }
  &__heading {
    font-size: 32px;
    text-align: center;
    @include mq-up(md) {
      font-size: 48px;
      text-align: left;
    }
    > span {
      @include mq-up(md) {
        &:after {
          content: '';
          display: inline-block;
          width: 0.4em;
          height: 1em;
        }
      }
    }
  }
  &__description {
    margin-top: 40px;
    text-align: center;
    @include mq-up(md) {
      margin-top: 12px;
      font-size: 24px;
      text-align: left;
    }
  }
  &__layout {
    @include mq-up(md) {
      justify-content: space-between;
      display: flex;
    }
  }
  .designation {
    margin-top: 40px;
    padding: 20px 25px;
    background-color: #7e3f3e;
    @include mq-up(md) {
      flex-basis: 556px;
      align-items: center;
      display: flex;
      margin-top: 0;
      padding: 40px 30px 40px 46px;
    }
    > h2 {
      padding-bottom: 16px;
      font-size: 16px;
      text-align: center;
      border-bottom: 1px solid #fff;
      @include mq-up(md) {
        flex-basis: 30%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        margin-left: -12px;
        padding-bottom: 0;
        font-size: 24px;
        letter-spacing: 24px;
        border-right: 1px solid #fff;
        border-bottom: none;
      }
    }
    &__result {
      margin-top: 16px;
      @include mq-up(md) {
        flex-basis: 70%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        height: 100%;
        margin-top: 0;
        padding-left: 40px;
      }
    }
    dl {
      display: flex;
      @include mq-up(md) {
        font-size: 16px;
      }
      > dt {
        align-items: center;
        display: inline-flex;
        &:after {
          content: '･･･';
        }
      }
    }
  }
  &__quiz {
    position: relative;
    overflow-x: scroll;
    margin-top: 40px;
    margin-right: -40px;
    margin-left: -40px;
    white-space: nowrap;
    @include mq-up(md) {
      position: static;
      margin-top: 58px;
      margin-right: 0;
      margin-left: 0;
    }
    > .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      @include mq-up(md) {
        display: none;
      }
      @include mq-up(md) {
        display: none;
      }
    }

    &__wrap {
      position: relative;
      width: 990px;
      height: 560px;
      text-align: center;
      background-image: url('/public/images/special-content.png');
      background-repeat: no-repeat;
      background-size: contain;
      @include mq-up(md) {
        width: 1130px;
        height: 640px;
      }
      > .gif {
        position: absolute;
        z-index: 5;
        width: 139px;
        @include mq-up(md) {
          width: 160px;
          &:hover {
            > .balloon {
              display: inline-block;
            }
          }
          .balloon {
            position: absolute;
            box-sizing: border-box;
            display: none;
            width: 90px;
            height: 90px;
            margin: 1.5em 15px 1.5em 0;
            padding: 0 5px;
            font-size: 12px;
            color: #fff;
            line-height: 90px;
            text-align: center;
            border-radius: 50%;
            background: $main-color;
            &:before {
              content: '';
              position: absolute;
              bottom: 1px;
              left: 10px;
              margin-top: -15px;
              border: 12px solid transparent;
              border-left: 20px solid #762e2e;
              transform: rotate(11deg);
            }
            > span {
              position: absolute;
              left: 50%;
              transform: translate(-50%, -50%);
              &:first-of-type {
                top: 35%;
              }
              &:last-of-type {
                top: 65%;
                font-size: 32px;
              }
            }
          }
        }
      }
      > .gif01 {
        top: 391px;
        left: 358px;
        z-index: 10;
        @include mq-down(md) {
          top: 342px;
          left: 314px;
        }
        .balloon {
          top: -93px;
          right: -85px;
        }
      }
      > .gif02 {
        top: 334px;
        left: 682px;
        z-index: 10;
        @include mq-down(md) {
          top: 293px;
          left: 598px;
        }
        .balloon {
          top: -103px;
          right: -58px;
        }
      }
      > .gif03 {
        top: 307px;
        right: 107px;
        @include mq-down(md) {
          top: 269px;
          right: 94px;
        }
        .balloon {
          top: -86px;
          right: -75px;
        }
      }
      > .gif04 {
        top: 368px;
        left: 33px;
        @include mq-down(md) {
          top: 323px;
          left: 30px;
        }
        .balloon {
          top: -90px;
          right: -55px;
        }
      }
      > .gif05 {
        top: 231px;
        left: 503px;
        @include mq-down(md) {
          top: 203px;
          left: 441px;
        }
        .balloon {
          top: -108px;
          right: -10px;
        }
      }
    }
    > img {
      width: 100%;
    }
  }
}
.quiz-modal {
  > div {
    position: relative;
    color: #fff;
    background-color: $main-color;
  }
  &__content {
    display: none;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 2px solid #fff;
    @include mq-up(md) {
      margin-top: 60px;
      padding-top: 60px;
    }
  }
  &__title,
  &__question {
    font-size: 16px;
  }
  &__number {
    font-size: 40px;
  }
  &__question {
    font-weight: bold;
  }
  &__answer {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  &__description {
    margin-top: 45px;
    font-size: 14px;
  }
  ul {
    @include mq-up(md) {
      justify-content: space-between;
      align-items: center;
      display: flex;
      gap: 20px;
    }
  }
  .button {
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    border-width: 2px;
    &:last-of-type {
      margin-top: 10px;
    }
    @include mq-up(md) {
      flex-basis: calc(100% - 10px);
      margin-top: 40px;
      &:last-of-type {
        margin-top: 40px;
      }
    }
  }
  > .cancel {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 30px;
    height: 30px;
    @include mq-up(md) {
      top: 8px;
      right: 8px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 30px;
      background: #fff;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 940px !important;
  }
}

.remodal-overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.remodal {
  @include mq-up(md) {
    padding: 50px 95px 80px !important;
  }
}
