@use '/assets/styles/global/' as *;

.header {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 12px;
  text-align: center;
  @include mq-up(lg) {
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 38px;
  }
  &__link {
    text-align: right;
    > li {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
}
