-
  var header = [
    {
      text: '賞品',
      link: 'present'
    },
    {
      text: '応募方法',
      link: 'apply'
    },
    {
      text: 'C.V.N.Eについて',
      link: 'about'
    },
    {
      text: 'SPECIAL CONTENTS',
      link: 'special-contents'
    },
  ]
header.header
  img.is-sp(src='public/images/sp/logo.png')
  img.is-pc(src='public/images/pc/logo.png')
  .header__hamburger.js-hamburger
    span
    span
    span
  .header__link.js-menu
    img.is-sp(src='public/images/sp/logo.png')
    ul
      each item in header
        li
          a(href=`#${item.link}`) #{ item.text }
    small.is-sp ©︎ Mikuni Wine Co.,Ltd.
