section#apply.apply
  .content.apply__content
    h1.apply__title 応募方法
    .apply__steps
      .apply__step
        h2.apply__heading STEP01
        p.apply__detail
          | 三国ワイン（@mikuniwine）
          br
          | 公式Twitterアカウントを
          br
          | フォロー
      .apply__step
        h2.apply__heading STEP02
        p.apply__detail
          | 公式Twitterアカウントから
          br
          | 本キャンペーン投稿を
          br
          | リツイートしたら応募完了！
    a.button(href='', target='_blank') 三国ワイン公式アカウントはこちらから
