- var twitterUrl = 'https://twitter.com/mikuniwine'

section#apply.apply
  .content.apply__content
    h1.apply__title 応募方法
    .apply__steps
      h2.apply__heading 第1弾〜第2弾
      .apply__step
        h3.apply__sub-heading STEP 01
        p.apply__detail
          | 三国ワイン
          a(href=`${twitterUrl}`, target='_blank') （@mikuniwine）
          br
          | 公式Twitterアカウントをフォロー
      .apply__step
        h3.apply__sub-heading STEP 02
        p.apply__detail
          | 公式アカウントから投稿される
          br
          | キャンペーンツイートをリツイート
    .apply__steps
      h2.apply__heading 第3弾
      .apply__step
        h3.apply__sub-heading STEP 01
        p.apply__detail
          | 三国ワイン
          a(href=`${twitterUrl}`, target='_blank') （@mikuniwine）
          br
          | 公式Twitterアカウントをフォロー
      .apply__step
        h3.apply__sub-heading STEP 02
        p.apply__detail
          | 公式Twitterアカウントから投稿される
          br
          | キャンペーンリツイートにクイズの回答と
          br
          | 「#クネクリアンサ」を記載して
          br
          | 引用ツイート
    a.button(href=`${twitterUrl}`, target='_blank') 三国ワイン公式アカウントはこちら
