section.key-visual
  include /assets/pugs/modules/_header
  .content
    h1.title
      .title__site-name 三国ワイン公式Twitter
      .title__site-name フォロー&RTキャンペーン
      .title__message
        | 抽選で500名様に
        br
        | スペイン産ワイン
        br
        | “クネ クリアンサ”を
        br.is-pc
        | プレゼント!
    .kune-kuri
      .kune-kuri__wine
        img.is-sp(src='/public/images/sp/kunekuri-wine.png', alt='クネ クリアンサ')
        img.is-pc(src='/public/images/pc/kunekuri-wine.png', alt='クネ クリアンサ')
  .content
    .piku-chan
      span.is-pc scroll
      img.is-sp(src='/public/images/sp/piku-chan.png', alt='C.V.N.E(クネ)社現在5代目C.E.O ビクトール・ウルティア Victor Urrutia')
      img.is-pc(src='/public/images/pc/piku-chan.png', alt='C.V.N.E(クネ)社現在5代目C.E.O ビクトール・ウルティア Victor Urrutia')
