section.key-visual
  include /assets/pugs/modules/_header
  h1.title
    span.title__site-name 三国ワイン公式Twitter
    br
    span.title__site-name フォロー&RTキャンペーン
    br
    span.title__message
      | 抽選で500名様に
      br
      | スペイン産ワイン
      br
      | “クネ クリアンサ”をプレゼント!
  .kune-kuri
    .kune-kuri__wine
      img(src='/public/images/kunekuri-wine.png', alt='クネ クリアンサ')
  .piku-chan
    img(src='/public/images/piku-chan.png', alt='C.V.N.E(クネ)社現在5代目C.E.O ビクトール・ウルティア Victor Urrutia')
