section.present.content
  h1.present__heading PRESENT
  section.present__campaign
    h2.present__sub-heading
      .present__sub-heading__eng Cune Crianza
      .present__sub-heading__ja クネ クリアンサ
    p.present__description
      | スペイン国内での
      br
      | 販売量＆金額No.1を達成！
    p.present__detail
      | 世界No.1を獲得したクネの果実味溢れるスタンダードワイン。
      br
      | 樹齢30～40年の葡萄を使用し、アメリカンオーク樽で12ヵ月熟成しています。
    p.present__detail
      | 口当たりはエレガントでかつ若々しいスパイスの香りとバランスの良い酸味が見事に調和しています。ポークソテーや鶏のトマト煮など、幅広い料理に合わせることができます。
  .present__product-detail
    a.present__product-detail__button(href='', target='_blank')
      | 商品詳細はこちらから
