section#present.present.js-wine-stop
  .content.present__content
    .present__package
      h1.present__heading PRESENT
      section.present__campaign
        h2.present__sub-heading
          .present__sub-heading__eng Cune Crianza
          .present__sub-heading__ja クネ クリアンサ
    .kune-kuri.js-wine
      img.is-sp(src='/public/images/sp/kunekuri-wine.png', alt='クネ クリアンサ')
      img.is-pc(src='/public/images/pc/kunekuri-wine.png', alt='クネ クリアンサ')
    .present__description
      p.present__detail.present__detail--emphasize
        | スペイン国内での
        br
        | 販売金額No.1を達成！
      p.present__detail
        | 世界No.1を獲得したクネの果実味溢れるスタンダードワイン。
        br
        | 樹齢30～40年の葡萄を使用し、アメリカンオーク樽で12ヵ月熟成しています。
      p.present__detail
        | 口当たりはエレガントで、若々しいスパイスの香りとバランスの良い酸味が見事に調和しています。ポークソテーや鶏のトマト煮など、幅広い料理に合わせることができます。
      .present__button-area
        a.button(href='https://www.mikuniwine.co.jp/?pid=139630268', target='_blank') 商品詳細はこちらから
