section#special-contents.special-contents
  .content
    h1.heading.special-contents__heading
      | SPECIAL
      br
      | CONTENTS
    p.special-contents__description
      | ～ワインクイズ～
      br
      | ビクトールさんを探してクイズに挑戦 !!
    .designation
      h2 称号
      .designation__result
        dl
          dt ５問正解・・・
          dl C.V.N.E.マイスター
        dl
          dt ３問正解・・・
          dl C.V.N.E.プロフェッサー
        dl
          dt １問正解・・・
          dl C.V.N.E.ファン
    .p.special-contents__quiz
