section#terms.terms
  .content
    h1.heading 規約問い合わせ等
    section.terms__description
      h2.terms__description-title
        | 三国ワイン公式Twitterフォロー&RTキャンペーン
        br
        | 【キャンペーン応募規約】
      section
        p 三国ワイン株式会社（以下、「当社」といいます）が主催する「三国ワイン公式Twitterフォロー&RTキャンペーン」（以下、「本キャンペーン」といいます）にご応募いただく前に、本規約をよくお読みいただき、同意の上でご応募ください。
        h3 【キャンペーン概要】
        p 三国ワイン公式Twitterアカウント（@mikuniwine）をフォローし、該当のキャンペーンツイートをリツイートすると、合計で500名様に賞品が当たります。
        ul.list-amendment
          li ご応募は20歳以上の方に限らせていただきます。20歳未満の方はご応募できません。
        h3 【応募方法】
        p STEP 1：三国ワイン公式Twitterアカウント（@mikuniwine）をフォローSTEP 2：三国ワイン公式Twitterアカウントから投稿されるキャンペーンツイートをリツイート
        ul
          li 当選した方には後日、ダイレクトメッセージにて当選のご連絡をいたします。
          li 必ずフォローをしてからリツイートをお願いします。
          li 公式アカウントのフォローを外した場合、当該ツイートの削除などにより応募されたツイートが確認できない場合、Twitterアカウントを非公開にしている場合は、応募および当選が無効となりますのでご注意ください。
        h3 【応募締切】
        p 2022年12月25日(日)23:59まで

        h3 【プレゼント内容】
        p 「クネ クリアンサ」　500名様
        ul.list-amendment
          li キャンペーンサイトに掲載されている賞品イメージのボトルトップはコルクですが、実際にお届けする賞品はスクリューキャップになります。
        h3 【当選発表】
        ul
          li 応募締め切り後、厳正なる抽選の上、当選者を決定致します。
          li 当選された方には後日、三国公式Twitterアカウント（@ mikuniwine）よりダイレクトメッセージにて当選通知をお送りさせていただきます。
          li プレゼントの送付先のフォームをお送りしますので、期限内にご入力ください。
        ul.list-amendment
          li 指定期間内に必要事項をご入力いただけない場合、当選権利が無効となりますのでご注意ください。
          li 当選の有無に関するお問い合わせにはお答えいたしかねます。
          li 賞品の発送は、1月下旬頃を予定しております。諸事情により賞品の発送が遅れる場合がございますので、あらかじめご了承ください。
        h3 【注意事項】
        ul
          li 応募された方は本規約へ同意いただいたとみなします。
          li ご応募は20歳以上の方に限らせていただきます。
          li ご応募は日本在住の方に限らせていただきます。また賞品のお届け先は日本国内のみとさせていただきます。
          li 本キャンペーン期間中にTwitterのアカウント名を変更または削除した場合は、当選の権利が無効となります。
          li Twitterアカウントを非公開にしている場合は、応募および当選が無効となります。
          li 本キャンペーンはTwitter社の提供協賛によるものではありません。投稿者は、Twitter社の定める利用規約を遵守するものとし、自己の責任において本キャンペーンへ参加するものとします。本キャンペーンへの投稿に起因するアカウントの制限または凍結に関して当社は一切の責任を負いかねますので、予めご了承ください。
          li 本キャンペーンのご応募などに必要な通信料等は、お客様のご負担となります。システムメンテナンス、不具合等があった場合でも当社アカウントおよびサイトアクセスに伴う通信料の返還はできません。
          li お使いいただいているパソコンの環境、また一部のスマートフォンではご応募いただけない場合がございます。
          li ご応募は日本国内にお住まいの方で、かつ賞品のお届け先が日本国内の方に限らせていただきます。
          li 配送地域、天候、交通状況、お客様がご不在の場合など、お届けに遅れが生じる場合もございます。
          li 賞品の交換換金返品の要請にはお応えできません。また賞品受領の権利の譲渡等はできません。
          li 本キャンペーンの賞品をオークションに出品する等の転売行為は禁止致します。これらの行為（転売を試みる行為を含みます）が発覚した場合、当選を取り消させていただくことがございます。
          li 以下のいずれかに該当する場合、応募及び当選権利は無効とさせていただきます。
        ul.list-decimal
          li 事務局からの連絡が不到達の場合
          li 事務局からの連絡に対し、有効期限までに返信いただけない場合
          li お客様の住所が不明、連絡不能等の理由により、賞品のお届けが出来ない場合
          li 本規約に定める応募資格を満たさない場合
          li 本キャンペーンへの応募にあたり、不正行為（*）が発覚した場合
        ul.list-amendment
          li 不正行為とは、キャンペーンサイトへの不正なアクセス、同一人物による複数アカウントでの連続応募、SNSのアカウントやメールアドレスを不正に取得したり、大量に取得したりする行為、名前やメールアドレスその他の情報を偽って応募登録したりする行為などをさします。
        ul
          li 応募条件となっている三国ワイン公式Twitterアカウント「@mikuniwine」をフォローしていない場合や、短時間にフォローとフォロー解除を繰り返した場合はダイレクトメッセージをお送りすることができませんので、選考の対象外となります。ご注意ください。
          li Twitterが提供するサービスのメンテナンスや不具合、お客様の利用する通信端末や通信業者の提供するサービスの不具合などにより、本キャンペーンへの応募が行えない場合や情報漏洩その他の損害がお客様や第三者に発生した場合、当社は責任を負いかねます。
          li 本キャンペーンについてのツイートを含むお客様のTwitter上でのツイート内容やこれに関わるお客様および第三者間のトラブルについては、当社は責任を負いかねます。
          li 本キャンペーンの内容は、予告なく変更する場合があります。また、本規約は、当社の判断により随時改訂することができるものとします。この場合、当社アカウントに通知することにより、本キャンペーン内容の変更または本規約の改訂を随時告知するものとします。当該告知以降、当該変更または改訂がなされた内容が、本キャンペーンにご参加された全ての方と当社との間で適用されるものとします。

        h3 【個人情報の取り扱いについて】
        p
        | お客様からご提供いただいた個人情報は当社が管理し、キャンペーンの運営、当選者への景品賞品の発送、個人を特定しない形に加工して当社の製品及びキャンペーン企画の改良、マーケティング活動等に利用させていただきます。また、当社と秘密保持契約を結んだ業務委託先を除いて、お客様の同意なしに第三者に開示提供することはございません。 （法令等により開示提供を求められた場合を除く）その他お客様の個人情報の取り扱いについては（
        a(href='https://www.mikuniwine.co.jp/?mode=privacy', target='_blank') https://www.mikuniwine.co.jp/?mode=privacy
        | ）をご覧ください。

        h3 【本キャンペーンに関するお問い合わせ先】
        p 三国ワイン公式Twitterアカウント（@mikuniwine）へダイレクトメッセージにてご連絡ください。
        p 受付期間：2023年1月31 日（木）まで
        p 受付時間：平日10：00～17：00
        ul.list-amendment
          li 土日祝日、および冬期休暇12月29日(木)～1月4日(水)を除く
          li 当選結果などに関するお問い合わせにはお答えいたしかねます。予めご了承ください。
          li ご返答に数日いただく場合がございます。あらかじめご了承ください。
