extends /assets/pugs/layouts/_base

block setting
  include /assets/pugs/_setting

block vars
  - meta.title = '三国ワイン公式Twitterフォロー&RTキャンペーン｜三国ワイン'
  - meta.keyword = '三国ワイン,キャンペーン,CVNE,クネ,クネクリアンサ,ワイン,スペインワイン,赤ワイン,酒,お酒,アルコール,洋酒'
  - meta.description = '三国ワイン公式Twitterフォロー&リツイートキャンペーン！抽選で500名様にボトルワイン「クネ クリアンサ」を500名様にプレゼント！2022年12月25日(日)まで'

block body
  include /assets/pugs/sections/keyvisual.pug
  include /assets/pugs/sections/present.pug
  include /assets/pugs/sections/apply.pug
  include /assets/pugs/sections/about.pug
  include /assets/pugs/sections/special-contents.pug
  include /assets/pugs/sections/terms.pug
